+*.pyc
+*~
+__pycache__
+myvenv
+db.sqlite3
+/static
+.DS_Store
/myvenv
.htaccess
.wget-hsts
passenger_wsgi.py
.bash_history
/tmp
/__pycache__
/.local
static
/.beget
/.cache
/.ssh
/coursarium/settings.py
