{% extends "base_generic.html" %}
{% load static %} 

  {% block categorsearch %}
<div class="container top">
	<div class="row text-center">
		<div class="col-md-9 col-md-offset-2"><div class="container-fluid">
 			 <ul class="nav navbar-nav">
      			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Категории<span class="caret"></span></a>
         		<ul class="dropdown-menu" role="menu">
            		<li><a href="#">Гуманитарные науки</a></li>
		            <li><a href="#">Бизнес, экономика, финансы</a></li>
		            <li><a href="#">Компьютерные науки</a></li>
		            <li><a href="#">Наука о данных</a></li>
		            <li><a href="#">Информационные технологии</a></li>
		            <li><a href="#">Социальные науки</a></li>
		            <li><a href="#">Химия и биология</a></li>
		            <li><a href="#">Физические науки и инжинерия</a></li>
		            <li><a href="#">Математика и логика</a></li>
		            <li><a href="#">Изучение языков</a></li>
         		</ul>
        	</li>
      	</ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" style="width:350px">
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </form>
        </div>
        </div>
  </div>
    </div>
  <hr>

  <div class="row">
    <div class="text-center col-lg-10 col-lg-offset-1">
      <div class="well"><span class="colortext"><strong> Популярные курсы</strong></div>
    </div>
  </div>
      <hr>
  {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
    {%  for course in courses %}

        <div class="col-sm-4 text-center">
            <div class="course-item">
            <h4><strong>{{ course.course_title }}</strong></h4>
                <div class = "pic">
                <img src="{{ course.image }}" height="220" width="220" border="3">
                </div>
                <p>
                    {{ course.summary|truncatechars:120 }}
                </p>
            <p><button type="button" class="btn btn-info btn-sm">Подробнее</button></p>
        </div>
        </div>

    {% endfor %}
</div>

</div>
{% endblock %}
<hr>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.3.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.js"></script>

</body>
</html>

