{% extends "base_generic.html" %}
{% load static %} 


{% block content %}
  <div class = "container">
    <div class="row">
        <div class="text-center col-lg-10 col-lg-offset-1">
            <div class="well"><span class="colortext"><strong> Популярные курсы</strong></div>
        </div>
    </div>
  </div>



    <div class="container">
        <div class="row">
        {% for course in courses %}
            <div class="col-sm-4 text-center">
                <div class="course-item">
                    <div>
                        <img src="{{ course.image }}" height="220" width="220" border="3">
                    </div>
                    <h4><strong><a href="{{ course.get_absolute_url }}">{{ course.course_title }}</a></strong></h4>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

<hr>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.js"></script>

</body>
</html>

