{% extends "base_generic.html" %}
{% load static %} 


{% block content %}

    {% block search %}
<div class="container top">
	<div class="row text-center">
		<div class="col-md-9 col-md-offset-2">
            <div class="container-fluid">
 			 <ul class="nav navbar-nav">
      			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Категории<span class="caret"></span></a>
         		<ul class="dropdown-menu" role="menu">
            		<li><a href="category/1">Наука о данных</a></li>
		            <li><a href="category/2">Бизнес, экономика, финансы</a></li>
		            <li><a href="category/3">Математика и логика</a></li>
		            <li><a href="category/4">Физика и инженерия</a></li>
		            <li><a href="category/5">Изучение языков</a></li>
		            <li><a href="category/6">Химия и биология</a></li>
		            <li><a href="category/7">Социальные науки</a></li>
		            <li><a href="category/8">Компьютерные технологии</a></li>
		            <li><a href="category/9">Гуманитарные науки</a></li>
		            <li><a href="category/10">Информационные технологии</a></li>
         		</ul>
        	</li>
      	</ul>
      <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" style="width:350px">
          </div>
            <button type="submit" class="btn btn-outline-primary">Искать</button>
      </form>
            </div>
        </div>
    </div>
</div>
  <hr>
{% endblock %}
  <div class = "container">
    <div class="row">
        <div class="text-center col-lg-12 ">
            <div class="well">
                <span class="colortext"><strong> Популярные курсы</strong>
            </div>
        </div>
    </div>
  </div>

    <div class="container">
        <div class="row">
        {% for course in courses %}
            <div class="col-sm-4 text-center">
                <div class="course-item">
                    <div>
                        <img src="{{ course.image }}" height="220" width="220" border="3">
                    </div>
                    <h4><strong><a href="{{ course.get_absolute_url }}">{{ course.course_title }}</a></strong></h4>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class = "container">
    <div class="row">
        <div class="text-center col-lg-12 ">
            <div class="well">
                <span class="colortext"><strong> Скоро начнутся </strong>
            </div>
        </div>
    </div>
  </div>
    <div class="container">
        <div class="row">
        {% for course in startingsoon %}
            <div class="col-sm-4 text-center">
                <div class="course-item">
                    <div>
                        <img src="{{ course.image }}" height="220" width="220" border="3">
                    </div>
                    <h4><strong><a href="{{ course.get_absolute_url }}">{{ course.course_title }}</a></strong></h4>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}

<hr>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.js"></script>

</body>
</html>

