.html, body {
  background-color: #eeeeee;
}

.body {
  padding-left: 15px;

}
.col-sm-4 {
  height: 420px;
}
.well {
  background-color: #604c8d;

}

.colortext {
  color: white;
  font-size: 20pt;
  font-family: 'Lobster';

}

.course-item {
  background-color: white;
  position: relative;
  height: 400px;
  padding: 5px;
}

.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}


.btn-info {
  padding: 3px;
  background-color: #604c8d;
}

.col-lg-3 {
  height: 420px;
}

.pic {
  height: 200px;
  width: 200px;
}